{% extends 'Frontend/Templates/template.twig' %}

{% block head_title %}
    Article
{% endblock %}

{% block content %}
    <article class="py-5 bg-light my-5">
        <h1 class="ml-3 mb-4 text-center text-dark">Chapitre {{ id }} : {{ title }}</h1>
        <h5 class="text-center text-info mb-3">Ecrit par {{ author }}</h5>
        <img src="{{ image_url }}" class="offset-1 col-4 float-left mr-3 mt-5 mb-3" alt="{{ alt_image }}"/>
        <div id="text" class="offset-1 col-10 text-justify my-5 pt-2">{{ content|nl2br }}</div>
        <p><small class="text-muted float-right mr-5">{% if article.date_of_update == null %}Publié le : {{ article.creation_date|date("d-m-Y H:i:s") }}
                {% else %} Mis à jour le : {{ article.date_of_update|date("d-m-Y H:i:s")}}
                {% endif %}
            </small></p>
    </article>

    <div class="text-center mb-5">
        <a class="previous btn btn-info btn-lg mr-3" href="/article/article?id={% if id == 1 %}{{ nbArticles }}
            {% else %}{{ id - 1 }}
            {% endif %}"
            role="button">
                Précédent
        </a>
        <a class="next btn btn-info btn-lg ml-3" 
            href="/article/article?id={% if id == nbArticles %}{{ 1 }} 
            {% else %}{{ id + 1 }}
            {% endif %}" 
            role="button">
                Suivant
        </a>
    </div>
    <div id="commentForm">
        <h3 class="offset-1 pl-3 mt-5 mb-4">Laisser un commentaire</h3>
        <form id="add_comment" action='/comment/addComment?id={{ id }}' method="POST" class="offset-1 col-5">
            <div class="form-group contactName">
                <label for="name">Nom*</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="message">Commentaire*</label>
                <textarea class="form-control contactMessage" id="message" name="message" rows="5"required></textarea>
            </div>
            <button type="submit" class="btn btn-info mb-5">Laisser un commentaire</button>
        </form>
    </div>
    <div id="commentList">
        <h2 class="ml-3 text-center">Derniers commentaires</h2>
        <ul class="list-unstyled mt-2 ml-3">
            {% for comment in commentList %}
            <li class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-2">{{ comment.author }}</h5>
                    <p class="bg-light ml-3 col-11 py-3">{{ comment.comment|nl2br }}</p>
                    <p class="mb-0 mt-0"><small class="text-muted">Le : {{ comment.creation_date|date("d-m-Y H:i:s") }}</small></p>
                </div>
            </li>
            <hr class="mb-3 col-10">
            {% endfor %}
        </ul>
    </div>
{% endblock %}

