{% extends "Frontend/Templates/template.twig" %}

{% block head_title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="webSitePresentation container-fluid">
        <div class="row ">
            <h1 class="col col-lg-12 my-4 mx-auto booktitle">BILLET SIMPLE POUR L'ALASKA</h1>
        </div>
        <div class="webSiteDescription row ">
            <p class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 offset-1 col-10 py-4"><span class="subtitle font-weight-bold">Venez rejoindre l'aventure!!</span>
            <br>Au sein de ce blog, vous trouverez l'avancé de mon nouveau livre intitulé: <strong>Billet simple pour l'Alaska</strong>
            Un nouveau roman d'aventure et de voyages au coeur de l'Alaska, de ses lacs azurs, de ses forets et ses montagnes enneigées.<br>
            A intervales réguliers, je publierai les chapitres sur ce site afin de procéder sous forme épisodique. Je publierai aussi de temps en temps des articles à propos de mon ressenti sur l'écriture du roman et je vous expliquerai le cheminement de mes idées. 
            Enfin, je compte aussi demander l'avis de mes lecteurs (eh oui je vais vous faire travailler !) sur certains points de développement de l'histoire. Ainsi ce roman sera un peu le votre.<br>
            </p>
        </div>
    </div>
    <h1 class="text-center my-5">Derniers chapitres parus</h1>
    <section class=" mt-5 postsContainer container-fluid">
            {% for article in articleList %}
            <div class=" offset-2 col-8 mt-3 pb-3">
                <article class="card mb-3">
                    <img src="{{ article.image_url }}" class="card-img-top" alt="{{ article.alt_image }}">
                    <div class="card-body">
                        <h3 class="card-title">Chapitre {{article.id}} : {{ article.title }}</h3>
                        <p class="card-text">{{ article.description }}</p>
                        <p class="card-text"><small class="text-muted">Publié le : {{ article.creation_date|date("d-m-Y H:i:s") }}</small></p>
                        <a href="/blog/article?id={{ article.id }}" class="btn btn-info">Lire le chapitre</a>
                    </div>
                </article>
            </div>
            {% endfor %}
    </section>
{% endblock %}

