{% extends "Backend/Templates/template.twig" %}

{% block head_title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="adminHome pt-5 mt-5 ml-2">
        <h1>Bonjour {{ admin }} !</h1>

        <div>
            <h3 class="ml-3 mt-5 text-info"><u>Un point sur les commentaires</u></h3>
            <h4 class="ml-5 mt-3">Vous avez <span class="text-danger">{{ commentsToModerate }}</span> commentaires en attente de modération</h4>
            {% if commentsToModerate != 0 %}
            <a href="/commentAdmin/moderation" class="btn btn-primary offset-2 mt-3">Se rendre à l'espace de modération de commentaires</a>
            {% endif %}
        </div>

        <div>
            <h3 class="ml-3 mt-5 text-info"><u>Un point sur les articles</u></h3>
            <h4 class="ml-5 mt-3">Dernier article ajouté le {{ articleCreation|date("d-M-Y") }} ( Chapitre {{ article_id }} : {{ articleTitle }} )</h4>
            <a href="/articleAdmin/addArticleForm" class="btn btn-primary offset-2 mt-3">Ajouter un article</a>
        </div>
    </div>
{% endblock %}