{% extends "Backend/Templates/template.twig" %}

{% block head_title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="adminHome pt-5 mt-5 ml-2">
        <h1>Bonjour {{ admin }} !</h1>
        <div>
            <h3 class="mx-3 mt-5 text-info"><u>Un point sur les commentaires</u></h3>
            {% if toModerateNumber != 0 %}
                <p class="ml-5 mt-3">Vous avez <span class="text-primary">{{ toModerateNumber }}</span> commentaires en attente de modération 
                    {% if reported >= 1 %} dont <span class="text-danger">{{ reported }}</span> commentaires qui ont été reportés
                    {% endif %}
                </p>
            <a href="/commentAdmin/moderation" class="btn btn-primary offset-2 mt-3">Se rendre à l'espace de modération de commentaires</a>

            {% else %}
                <p class="mx-5 mt-3">Vous n'avez aucun commentaire en attente de modération</p>
            {% endif %}
        </div>

        <div>
            <h3 class="mx-3 mt-5 text-info"><u>Un point sur les articles</u></h3>
            <p class="mx-5 mt-3">Dernier article ajouté le {{ lastArticle.creation_date|date("d-m-Y") }} ( Chapitre {{ lastArticle.chapter_number }} : {{ lastArticle.title|striptags }} )</p>
            <a href="/articleAdmin/addForm" class="btn btn-primary offset-2 mt-3">Ajouter un article</a>
        </div>
    </div>
{% endblock %}