{% extends "Backend/Templates/template.twig" %}

{% block head_title %}
    Gestion des articles
{% endblock %}

{% block content %}
<div class="bg-light container-fluid">
    <h1 class="text-center mt-5 pt-5">Gestionnaire d'articles</h1>
    <h5 class="text-center text-lg mt-5">{{ deleteMessage }}</h5>
    <h5 class= "text-center text-lg mt-5">{{ updateMessage }}</h5>
    <div class="offset-2 col-8 mt-3">
        {% for article in articleList %}
            <div class="card my-5">
                <div class="row no-gutters pr-3">
                    <div class="col-md-4">
                        <img src="{{article.image_url}}" class="card-img" alt="{{article.alt_image}}">
                    </div>
                    <div class="col-md-5">
                        <div class="card-body">
                        <h5 class="card-title">Chapitre {{ article.id}} : {{ article.title}}</h5>
                        <p class="card-text">{{ article.chapter_description }}</p>
                        <p><small class="text-muted">{% if article.date_of_update == null %}Publié le : {{ article.creation_date|date("d-m-Y H:i:s") }}
                                {% else %} Mis à jour le : {{ article.date_of_update|date("d-m-Y H:i:s")}}
                                {% endif %}
                            </small></p>
                        </div>
                    </div>
                    <div class="buttons offset-1 col-md-2 mt-5">
                        <a class="btn btn-primary btn-lg btn-block my-2" href="/ArticleAdmin/updateForm?id={{ article.id }}" role="button">Mettre à jour</a>
                        <a class="btn btn-danger btn-lg btn-block" href="/ArticleAdmin/delete?id={{ article.id }}" role="button">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}