{% extends "Backend/Templates/template.twig" %}

{% block head_title %}
    Gestion des articles
{% endblock %}

{% block content %}
    <div class="bg-light mt-5 pb-5 container-fluid">
            <a class="btn btn-info shadow mb-3 offset-md-8 col-md-3 offset-sm-3 col-sm-6 offset-2 col-8 mt-5" href="/ArticleAdmin/addForm" role="button">Ajouter un article</a>
        <h1 class="text-center">Gestionnaire d'articles</h1>
        {{ include('Frontend/Templates/_notification.twig') }}
        <div class="offset-2 col-8 mt-3">
            {% for article in articleList %}
                <div class="card my-5 pr-lg-2">
                    <div class="row no-gutters">
                        <div class="col-lg-4">
                            <img src="{{ article.image_url|striptags }}" class="card-img" alt="{{ article.alt_image|striptags }}b-0">
                        </div>
                        <div class="col-lg-5">
                            <div class="card-body py-0 mt-3">
                                <h5 class="card-title">Chapitre {{ article.chapter_number }} : {{ article.title|striptags }}</h5>
                                <p class="card-text pr-lg-2">{{ article.chapter_description|striptags|nl2br }}</p>
                                <div class="mb-0">
                                    <p class="card-text text-muted mb-0">Auteur : {{ article.name|striptags }}</p>
                                    <p class="mb-0"><small class="text-muted">{% if not article.date_of_update %}Publié le : {{ article.creation_date|date("d-m-Y à H:i:s") }}
                                            {% else %} Mis à jour le : {{ article.date_of_update|date("d-m-Y à H:i:s")}}
                                            {% endif %}
                                        </small>
                                    </p>
                                    <a href="/article/article?chapter={{ article.chapter_number }}" target="_blank">Voir l'article</a>
                                </div>
                            </div>
                        </div>

                        <div class="buttons offset-lg-0 col-lg-3 mt-lg-5 offset-sm-3 col-sm-6 offset-2 col-8">
                            <a class="btn btn-primary btn btn-block my-2" href="/ArticleAdmin/updateForm?id={{ article.id }}" role="button">Mettre à jour</a>
                            <button type="button" class="btn btn-danger btn btn-block mt-2 mb-4" data-toggle="modal" data-target="#deleteConfirmation">Supprimer</button>

                            <div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmation" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirmation de suppression</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-center">Êtes vous certain de vouloir supprimer cet article ?<br /> 
                                                <span class="badge bg-danger text-white p-2 mt-2">Attention ! Toute suppression est définitive !</span></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <a type="button" class="btn btn-danger" href="/ArticleAdmin/delete?id={{ article.id }}">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}