{% extends "Backend/Templates/template.twig" %}

{% block head_title %}
    Mettre à jour un article
{% endblock %}

{% block content %}
    <div id='updateArticleForm' class='bg-light mt-5 pt-5 pb-3'>
        <h1 class="text-center">Mettre à jour un article</h1>

        <form action='/ArticleAdmin/update?id={{ article['id'] }}' method="POST" class="needs-validation offset-lg-1 col-lg-10 offset-1 col-10 my-5 pb-5 px-0" novalidate>
            <div class="form-row">
                <div class="form-group col-lg-3 col-6">
                        <label for="author">Auteur <span class="text-danger">*</span></label>
                        <select class="form-control" id="author" name="article[author]">
                            {% for author in authorList %}
                                <option value="{{ author.id }}" {% if author.id == article['user_id'] %} selected {% endif %}>{{ author.name|striptags }}</option>
                            {% endfor %}
                        </select>
                    </div>

                <div class="form-group col-lg-3 col-sm-6 col-8">
                    <label for="chapter_number">Numéro du chapitre <span class="text-danger">*</span></label>
                    <input type="number" min="0" class="form-control" value="{{ article['chapter_number'] }}" id="chapter_number"  name="article[chapter_number]" required>
                    <div class="invalid-feedback font-weight-bold text-center">
                        Veuillez renseigner un numéro de chapitre
                    </div>
                </div>

                <div class="form-group col-lg-6 col-md-8">
                    <label for="title">Titre du chapitre <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" value="{{ article['title']|striptags }}" id="title" name="article[title]" required>
                    <div class="invalid-feedback font-weight-bold text-center">
                        Veuillez indiquer le titre du chapitre
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-8 px-0">
                <label for="imageURL">URL de l'image d'illustration <span class="text-danger">*</span></label>
                <input type="url" class="form-control" id="imageURL" name="article[imageURL]" value="{{ article['image_url']|striptags }}" required>
                <div class="invalid-feedback font-weight-bold text-center">
                    Veuillez saisir une Url valide
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-8 px-0">
                <label for="imageDescription">Description de l'image d'illustration <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="imageDescription" name="article[imageDescription]" value="{{ article['alt_image']|striptags }}" required>
                <div class="invalid-feedback font-weight-bold text-center">
                    Veuillez ajouter une description de l'image (utile pour les personnes malvoyantes)
                </div>
            </div>

            <div class="form-group col-lg-6 col-md-8 px-0">
                <label for="updateChapterDescription">Description du chapitre <span class="text-danger">*</span></label>
                <textarea class="form-control init-tinymce" id="updateChapterDescription" name="article[chapterDescription]" required>{{ article['chapter_description']|striptags }}</textarea>
                <div class="invalid-feedback font-weight-bold text-center">
                    Veuillez ajouter une description du chapitre
                </div>
            </div>
            
            <div class="form-group">
                <label for="updateChapterText">Corps du texte <span class="text-danger">*</span></label>
                <textarea class="form-control init-tinymce" id="updateChapterText" name="article[chapterText]" rows="15" required>{{ article['content'] }}</textarea>
                <div class="invalid-feedback font-weight-bold text-center">
                    Veuillez ajouter le texte du chapitre
                </div>
            </div>

            <p class="font-weight-bold"><span class="text-danger">*</span> Champs obligatoires</p>

            <button type="submit" class="btn btn-primary float-right">Mettre à jour</button>
        </form>
    </div>
{% endblock %}