{% extends "Backend/Templates/template.twig" %}

{% block head_title %}
    Mettre à jour un article
{% endblock %}

{% block content %}
    <div id='updateArticleForm' class='bg-light mt-5 pt-5 pb-3'>
        <h1 class="text-center">Mettre à jour un article</h1>

        <form action='/ArticleAdmin/update?id={{ article['id'] }}' method="POST" class="offset-lg-2 col-lg-8 offset-1 col-10 my-5 pb-5">
            <div class="form-group">
                <label for="chapter_number">Numéro du chapitre*</label>
                <input type="number" min="0" class="form-control" value="{{ article['chapter_number'] }}" id="chapter_number"  name="article[chapter_number]" required>
            </div>
            <div class="form-group">
                <label for="title">Titre du chapitre*</label>
                <input type="text" class="form-control" value="{{ article['title']|striptags }}" id="title" name="article[title]" required>
            </div>

            <div class="form-group">
                <label for="imageURL">URL de l'image d'illustration*</label>
                <input type="url" class="form-control" id="imageURL" name="article[imageURL]" value="{{ article['image_url']|striptags }}" required>
            </div>

            <div class="form-group">
                <label for="imageDescription">Description de l'image d'illustration*</label>
                <input type="text" class="form-control" id="imageDescription" name="article[imageDescription]" value="{{ article['alt_image']|striptags }}" required>
            </div>

            <div class="form-group">
                <label for="author">Auteur*</label>
                <select class="form-control" id="author" name="article[author]">
                    {% for author in authorList %}
                        <option value="{{ author.id }}" {% if author.id == article['user_id'] %} selected {% endif %}>{{ author.name|striptags }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="chapterDescription">Description du chapitre*</label>
                <input type="text" class="form-control" id="chapterDescription" name="article[chapterDescription]" value="{{ article['chapter_description']|striptags }}" required>
            </div>

            <div class="form-group">
                <label for="chapterText">Corps du texte*</label>
                <textarea class="form-control" id="chapterText" name="article[chapterText]" rows="15" >{{ article['content'] }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary float-right">Mettre à jour</button>
        </form>
    </div>
{% endblock %}